<div>
  <h2 id="page-heading" data-cy="SalesOrderHeading">
    <span jhiTranslate="webStoreApp.orderServiceSalesOrder.home.title">Sales Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="webStoreApp.orderServiceSalesOrder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sales-order"
        [routerLink]="['/sales-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="webStoreApp.orderServiceSalesOrder.home.createLabel"> Create a new Sales Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="salesOrders?.length === 0">
    <span jhiTranslate="webStoreApp.orderServiceSalesOrder.home.notFound">No salesOrders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="salesOrders && salesOrders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.salesOrderNumber">Sales Order Number</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.customerId">Customer Id</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.placed">Placed</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.cancelled">Cancelled</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.shipped">Shipped</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.completed">Completed</span></th>
          <th scope="col"><span jhiTranslate="webStoreApp.orderServiceSalesOrder.status">Status</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salesOrder of salesOrders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sales-order', salesOrder.id, 'view']">{{ salesOrder.id }}</a>
          </td>
          <td>{{ salesOrder.salesOrderNumber }}</td>
          <td>{{ salesOrder.customerId }}</td>
          <td>{{ salesOrder.placed | formatMediumDatetime }}</td>
          <td>{{ salesOrder.cancelled | formatMediumDatetime }}</td>
          <td>{{ salesOrder.shipped | formatMediumDatetime }}</td>
          <td>{{ salesOrder.completed | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'webStoreApp.SalesOrderStatus.' + salesOrder.status }}">{{ salesOrder.status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sales-order', salesOrder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sales-order', salesOrder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(salesOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
